# ? java
*.class
*.log
*.jar
*.war
*.ear
out/
bin/
.gradle

# ? python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
.Python
.venv/
venv/
pip-wheel-metadata/

# ? keep .vscode because it have useful settings for formatting

# ? pytest
htmlcov/
.cache/
.tox/
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
test-results.xml
.pytest_cache/

# ? mypy / ruff / linting
.mypy_cache/
.dmypy.json
ruff_cache/
*.lint
*.typecheck

# ? build apps
dist/
build/

# ? secrets
*.pem
*.key
*.crt
.env
.env.*
certs/
kind-secrets.**

# ? assets
uploads/
apps/server/assets/

